<!-- <div
class="nav__button nav__button--activate-tv not-selectable"
id="nav__button--activate-tv"
>
ACTIVAR
</div>
<div
class="nav__button nav__button--client-registration not-selectable"
id="nav__button--client-registration"
>
REGISTRAR
</div>
<div
class="nav__button nav__button--client-update not-selectable"
id="nav__button--client-update"
>
RECARGAR
</div>
<div
class="nav__button nav__button--client-check not-selectable"
id="nav__button--client-check"
>
SALDO
</div>
<div
class="nav__button nav__button--history not-selectable"
id="nav__button--history"
>
HISTORIAL
</div>
<div
class="nav__button nav__button--log-out not-selectable"
id="nav__button--log-out"
>
DESLOGUEAR
</div> -->



<div
class="nav__button nav__button--new-employee not-selectable"
id="nav__button--new-employee"
>
NUEVO EMPLEADO
</div>

<div
class="nav__button nav__button--delete-employee not-selectable"
id="nav__button--delete-employee"
>
BORRAR EMPLEADO
</div>

<div
class="nav__button nav__button--statistics not-selectable"
id="nav__button--statistics"
>
ESTADISTICAS
</div>

<H3 style="color:rgba(122, 122, 255, 0.3)">__________________________</H3>


<%- include('../partials/employee-buttons') %>
