<div
  class="nav__button nav__button--client-registration not-selectable"
  id="client-registration__button"
>
  REGISTRAR
</div>
<div
  class="nav__button nav__button--client-update not-selectable"
  id="client-update__button"
>
  RECARGAR
</div>
<div
  class="nav__button nav__button--client-check not-selectable"
  id="client-check__button"
>
  SALDO
</div>


<div
  class="nav__button nav__button--history not-selectable"
  id="history__button"
>
  HISTORIAL
</div>
<div
  class="nav__button nav__button--log-out not-selectable"
  id="log-out__button"
>
  DESLOGUEAR
</div>
