<div class="header-wrapper">
  <img
    src="/public/images/312536579_1470311220116748_6316712593101556633_n.png"
    alt="ICONO"
    class="header__icon"
  />
  <div class="server-responses" id="server-responses"></div>
</div>