<div class="tvs-container" id= "tvs-container">
    <div class="tv "id='tv--1'>
      <div class="tv__number">1</div>
      <div class="tv__leftTime" id="tv__leftTime--1"></div>

      <div class="tv__icon">
        <img
            class="tv__close-icon"
            id="tv__close-icon--1"
            onclick="deactivateTv(1)"
            src="/public/images/turn-off.png"
            alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--1"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>
    </div>
    <div class="tv "id='tv--2'>
      <div class="tv__number">2</div>
      <div class="tv__leftTime" id="tv__leftTime--2"></div>
      <div class="tv__icon">
        
        <img
        class="tv__close-icon"
        id="tv__close-icon--2"
        onclick="deactivateTv(2)"
        src="/public/images/turn-off.png"
        alt="ApagarTV"
        />
        <img
        class="tv__add-icon"
        id="tv__add-icon--2"
        src="/public/images/turn-on.png"
        alt="Encender Tv"
        />
      </div>
    </div>
    <div class="tv "id='tv--3'>
      <div class="tv__number">3</div>
      <div class="tv__leftTime" id="tv__leftTime--3"></div>
      <div class="tv__icon">

        <img
          class="tv__close-icon"
          id="tv__close-icon--3"
          onclick="deactivateTv(3)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--3"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>
    </div>
    <div class="tv "id='tv--4'>
      <div class="tv__number">4</div>
      <div class="tv__leftTime" id="tv__leftTime--4"></div>
      <div class="tv__icon">

        <img
          class="tv__close-icon"
          id="tv__close-icon--4"
          onclick="deactivateTv(4)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
          <img
          class="tv__add-icon"
          id="tv__add-icon--4"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>
    </div>
    <div class="tv "id='tv--5'>
      <div class="tv__number">5</div>

      <div class="tv__leftTime" id="tv__leftTime--5"></div>
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--5"
          onclick="deactivateTv(5)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--5"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>


    </div>
    <div class="tv "id='tv--6'>
      <div class="tv__number">6</div>
      <div class="tv__leftTime" id="tv__leftTime--6"></div>
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--6"
          onclick="deactivateTv(6)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
          <img
          class="tv__add-icon"
          id="tv__add-icon--6"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>

    </div>
    <div class="tv "id='tv--7'>
      <div class="tv__number">7</div>

      <div class="tv__leftTime" id="tv__leftTime--7"></div>
      
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--7"
          onclick="deactivateTv(7)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--7"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>
     
    </div>
    <div class="tv "id='tv--8'>
      <div class="tv__number">8</div>

      <div class="tv__leftTime" id="tv__leftTime--8"></div>
      
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--8"
          onclick="deactivateTv(8)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--8"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>

    </div>
    <div class="tv "id='tv--9'>
      <div class="tv__number">9</div>
      <div class="tv__leftTime" id="tv__leftTime--9"></div>
      
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--9"
          onclick="deactivateTv(9)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--9"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>
      
    </div>
    <div class="tv" id='tv--10'>
      <div class="tv__number">10</div>
      <div class="tv__leftTime" id="tv__leftTime--10"></div>
      <div class="tv__icon">
        <img
          class="tv__close-icon"
          id="tv__close-icon--10"
          onclick="deactivateTv(10)"
          src="/public/images/turn-off.png"
          alt="ApagarTV"
        />
        <img
          class="tv__add-icon"
          id="tv__add-icon--10"
          src="/public/images/turn-on.png"
          alt="Encender Tv"
        />
      </div>

    </div>
</div>
  