<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="control-panel">
  <div class="login-wrapper">
    <form action="" id="login__form" class="form form--login">


      <div class="title-container">        
        <h2 class="login__title title">Iniciar Sesión</h2>
      </div>

      <div class="inputs-container">
        <div class="text-fields">
          <input type="text" name="user" class="user-input" placeholder="Usuario" autofocus>
          <input type="password" name="pass" class="user-input" placeholder="Clave">
        </div>
      </div>

      <div class="button-container">
        <input type="submit" value="Enviar" class="user-button">
      </div>
        
      </form>
  </div>
</div>
<script src="/public/javaScript/sendLoginForm.js"></script>


